<?xml version="1.0"?>
<launch>

    <include file="$(find navigate_to_pose_pkg)/launch/world_bringup.launch">
    </include>

    <node pkg="navigate_to_pose_pkg" type="action_server" name="action_server" output="screen">
        <remap from="cmd_vel" to="husky_velocity_controller/cmd_vel" />
    </node>

</launch>
